<?xml version="1.0" encoding="UTF-8"?>
<!-- To resolve Cannot change version of project facet Dynamic Web Module to 2.3 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
	
	<display-name>testing struts</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>struts1</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<!-- 默认路径/WEB-INF/struts-config.xml -->
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config-user.xml</param-value>
		</init-param>
		<!-- 
		<load-on-startup>2</load-on-startup>
		 -->
	</servlet>
</web-app>
